/* customize our font and background image for the entire page */
body {
    background-image: url('freebackground.jpg');
    font-family: 'Roboto Condensed', sans-serif;
}

figure {
    width: 25%;
    text-align: center;
    display:inline-block;
}

footer {
    text-align: center;
}

